{% extends 'base.html' %}

{% block title %} Welcome to my page {% endblock %}

{% block body %}
<main class="container">
    <h1>Ahmed Abbas</h1>
    <p>
        Hi, I’m Ahmed Abbas, a Business Analytics and Information Systems student at the University of Iowa’s Tippie College of Business. I’m passionate about using data, technology, and design thinking to help businesses grow smarter and operate more efficiently. Through projects in Digital Product Management, I’ve developed skills in automation, process improvement, and digital strategy — turning complex challenges into practical solutions
    </p>
</main>
{% endblock %}